.alert-error {
  color: red;
}

li {
  list-style: none;
  margin-top: 10px;
}

.header {
  height: 80px;
  width: 40%;
  background-color: aqua;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.select {
  height: 30px;
  width: 150px;
}

.headerText {
  width: 330px;
  margin-right: 50px;
  margin-left: 20px;
}

.container {
  width: 40%;
  margin: 0 auto;
  margin-top: 10px;
}

.contributors {
  background-color: aquamarine;
  flex: 1;
}

.contributor {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contributor li {
  margin: 20px;
  border: 1px solid black;
  padding: 10px;
}

.contributor p {
  display: inline-flex;
  margin-left: 60px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  height: 22px;
}

.profileButton {
  width: 80px;
  text-align: center;
  text-decoration: none;
}

.avatarImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.dataDiv {
  gap: 15px;
}

.dataContr {
  background-color: rgb(227, 200, 168);
  flex: 1;
}

.dataContr li {
  margin-right: 10px;
}